{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/bootstrap.min.css' %}">

    <title>WhatTrial</title>

  
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">WhatTrial</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Language
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for lang in languages %}
            <li><a class="dropdown-item" href="/{{ lang.code }}/">
              {{ lang.name_local }}
            </a>
            </li>
            {% endfor %}
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
    </header>


    <main role="main" class="container">
    
    {% block content %}


    {% endblock %}

    </main>


    
    <script src="{% static 'bootstrap/bootstrap.bundle.min.js' %}"></script>

   

    <footer class="page-footer font-small blue" style="background-color: #F2F4F4">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">©Copyright 2021 | Powered By :
    <a target="_blank" href="https://linkedin.com/in/simon-gjokaj-dev"> Simon Gjokaj </a>
  </div>
  <!-- Copyright -->

</footer>
  </body>
</html>

